body, html {
	background-image: url(../images/intersection.png);
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

nav {
	background-color: cadetblue;
	margin-bottom: 10px;
}
nav .brand-logo.center {
    left: 25%;
}
.right {
	margin-right: 15%;
}
nav .button-collapse {
	float: right;
	margin-right: 100px;
}
.container {
	margin: 0px auto;
}
.my-info{
	background-color: white;
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 15px;
}
#my-pic {
	float: left;
	margin: 10px;
}
.my-form{
	background-color: white;
	margin: 10px 0px;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 15px;
}
label {
	margin-left: 5px;
}
input {
	margin-bottom: 10px;
	margin-left: 5px;
	width: 90%;
}
textarea{
	width: 90%;
	margin-left: 5px;
}
button {
	margin-left: 5px;
}
.sidebar {
	background-color: white;
	border: 1px solid grey;
	border-radius: 15px;
	text-align: center;
	height: 200px;
	margin-top: 10px;
	padding: 35px 0px;
}
.sidebar-body{
	    padding-top: 25px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 20px;
	background-color: cadetblue;
	color: white;
	text-align: center;
	font-weight: bold;
}